html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* To Do Styles, based on: https://medium.muz.li/designing-pocket-lists-18b6cafd1161?gi=24974c2aca0b https://uxplanet.org/my-ux-wishlist-for-to-do-list-apps-d43f737817bd*/

/* Horizontal Bar */
.todo-horizontalBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.25rem;
  padding-bottom: 1.25rem;
  box-shadow: rgb(16, 147, 255) 0px 1px 0px;
}

.todo-title{
  flex: 1;
  align-self: flex-start;
  color: rgb(16, 147, 255);
  margin: 0;
}

/* Search, Switch and Add Button styles */
.todo-functions{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Switch styles */
.todo-functions > .switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 2.75rem;
  height: 1.45rem;
}

/* Switch styles from W3Schools */
.todo-functions > .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(1.2rem);
  -ms-transform: translateX(1.2rem);
  transform: translateX(1.2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.todo-wrapper:hover{
  background-color: rgba(228, 231, 236, 0.212);
}

/* Search Input styles */
.todo-search{
  width: 10rem;
  height: 2rem;
  margin-right: 1.25rem;
  border-radius: 1.25rem;
  border: #2196F3 solid 1px !important;
  padding-left: 1rem;
}

.todo-search:focus{  
  outline: none;
  border: #2196F3 solid 1px !important;
  color: black;
}

/* Add Button styles */
.todo-addButton{
  border-radius: 50%;
  border: rgb(16, 147, 255) solid 1px !important;
  background-color: rgb(16, 147, 255);
  width: 2rem;
  height: 2rem;
  margin-left: 1.25rem;
  color: white;
  font-size: 1.25rem;
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.todo-addButton:hover{
  color: rgb(16, 147, 255);
  background-color: white;
}

/*  Modal Styles based on w3schools and https://uxplanet.org/best-practices-for-modals-overlays-dialog-windows-c00c66cddd8c */
.todo-addModal {  
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  color: rgb(16, 147, 255);
  margin: 15% auto;
  border: 1px solid #888;
  border-radius: 1.25rem;
  width: 40%; 
  height: 20%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  margin: 0 !important;
  background-color: rgba(185, 190, 199, 0.212);
  padding: 1.25rem;
  align-items: center;
  height: 26%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

/* The Close Button */
.close {
  color: rgb(16, 147, 255);
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
}

.todo-inputName {
  width: 30rem;
  height: 1.8rem;
}

.todo-inputDone {
  margin: 0 !important;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.addButtons {
  border-radius: 8px;
  padding: 12px 28px;
  background-color: white;

}

.todo-add {
  border: green solid 1px;
  color: green;
}

.todo-add:hover {
  color: white;
  background-color: green;
}

.todo-discard {
  border: red solid 1px;
  margin-right: 1.25rem;
  color: red;
}

.todo-discard:hover {
  color: white;
  background-color: red;
}

/* ToDo List Styles */
/* Checkbox styles */
.todo-checkbox {
  width: 1.5rem;
  height: 1.5rem;  
  margin-right: 1.25rem;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
  display: grid;
  place-content: center;
  border: 0.125rem solid rgb(16, 147, 255);
  border-radius: 33%;
  transform: translateY(-0.075em);
}

.todo-checkbox::before{
  content: "";
  font-size: 15px;
  width: 0.75rem;
  height: 0.75rem;  
  background-color: rgb(16, 147, 255);
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.todo-checkbox:checked::before {
  transform: scale(1);
}

.checkLabel.isDone{
  color: rgb(160, 164, 170);
  text-decoration: line-through;
}



